
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Polls</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'polls/yeahMiki.ico' %}"/>
    </head>
    <body>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
</html>

